body {
    margin: 0px;
}
nav {
    background-color: rgb(68, 24, 24);
    height: 50px;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

.link {
    text-decoration: none;
    color: aliceblue;
    padding-left: 15px;

}
